body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #777777;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}

button {
  padding: 10px 40px;
  font-weight: bold;
  background-color: #fed136;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #8e8e8e;
  cursor: pointer;

  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

button:hover {
  background-color: #E88B1E;
}
button:active {
  background-color: rgba(142, 254, 54, 0.8);

  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

h1 {
  text-indent: -9999px;
  overflow: hidden;
  float: left;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #fed136;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

header {
  min-height: 600px;
  background: rgba(92, 93, 95, 1);
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  float: right;
  margin-top: 30px;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;

  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

nav a:hover {
  color: #fed136;

  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

main section:nth-child(even) {
  background: -webkit-linear-gradient(360deg, rgba(83, 107, 119, 0.41), #f5f5f5, rgba(129, 197, 230, 0.22));
  background: linear-gradient(360deg, rgba(83, 107, 119, 0.41), #f5f5f5, rgba(129, 197, 230, 0.22));
}

main section {
  padding: 40px 0;
}

h2 + button {
  margin-top: 40px;
}

h2 + p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
}

h3 {
  margin-bottom: 30px;
}

nav a + a {
  margin-left: 60px;
}

figure {
  display: inline-block;
}

figure img {
  margin: 10px auto;
}

figcaption {
  font-weight: bold;
  font-size: 16px;
}

label {
  display: block;
}

form button {
  float: right;
}

input[type=text],
select,
textarea {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #fff;
  color: #777;
}

fieldset {
  text-align: left;
}

dt {
  padding-bottom: 10px;
}

dd + dt {
  margin-top: 20px;
}

.container {
  position: relative;
  width: 80%;
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.boas-vindas {
  clear: both;
  padding-top: 70px;
}

.boas-vindas h2 {
  font-size: 65px;
  color: #fff;
}

.boas-vindas span {
  display: block;
  font-size: 30px;
  font-style: italic;
  text-transform: none;
}

.boas-vindas button {
  padding: 15px 40px;
  font-size: 22px;
}

.container-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.segmentos {
  position: relative;
  margin-bottom: 40px;
}

.container-flex .segmentos {
  justify-content: center;
}

.segmentos figure {
  width: 140px;
  height: 140px;
  flex-grow: 1;
}

.segmentos img,
.segmentos figcaption {
  -webkit-transition: all ease-out 200ms;
  transition: all ease-out 200ms;
}

.segmentos figure:hover > figcaption {
  color: #fed136;

  -webkit-transform: scale(1.2) translateY(30%);
  transform: scale(1.2) translateY(30%);
}

.segmentos figure:hover > img {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.26);

  -webkit-transform: scale(1.1) rotateY(180deg);
  transform: scale(1.1) rotateY(180deg);
}

.segmentos ~ p + p {
  margin-bottom: 20px;
}

.segmentos ~ button {
  padding: 10px 30px;
  font-size: 14px;
}

.equipe {
  position: relative;
  margin: 20px auto 40px;
}

.equipe figure {
  flex-grow: 1;
}

.equipe img {
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 1px rgba(128, 128, 128, 0.56);
}

.equipe figcaption span {
  display: block;
}

.equipe figure,
.equipe img,
.equipe figcaption {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.equipe img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.equipe figure:hover {
  z-index: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.equipe:hover > figure {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.equipe:hover > figure:hover {
  -webkit-filter: none;
  filter: none;
}

.equipe figure:hover > img {
  border-color: rgba(38, 182, 247, 0.2);
  border-radius: 2px;

  -webkit-filter: saturate(1.2) drop-shadow(5px 5px 10px rgba(23, 110, 148, 0.7));
  filter: saturate(2) drop-shadow(5px 5px 10px rgba(23, 110, 148, 0.7));
}

.equipe figure:hover > figcaption {
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
}

.recursos {
  float: left;
  max-width: 550px;
}

.plataformas {
  float: right;
  max-width: 500px;
  margin-top: 70px;
}

.recursos,
.plataformas {
  text-align: left;
}

.recursos + img,
.plataformas + img {
  display: inline-block;
  margin: 20px auto;
}

.lista-icones {
  margin-top: 40px;
}

.lista-icones li {
  flex: 1;
  justify-content: space-around;
  text-align: center;
  margin: 5px 10px;
}

.lista-icones li a {
  display: inline-block;
  height: 70px;
  width: 70px;

  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;

  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.lista-icones li:hover a {
  -webkit-transform: rotateY(180deg) scale(1.4);
  -webkit-filter: invert(100%);

  transform: rotateY(180deg) scale(1.4);
  filter: invert(100%);
}

.lista-icones li:nth-child(1) a { background-image: url(../images/icon-apple-ios.png); }
.lista-icones li:nth-child(2) a { background-image: url(../images/icon-android.png); }
.lista-icones li:nth-child(3) a { background-image: url(../images/icon-windows-phone.png); }
.lista-icones li:nth-child(4) a { background-image: url(../images/icon-firefox-os.png); }

.fale-conosco {
  position: relative;
  padding: 20px 0 40px;
  background-color: #282537;
  background-image: -webkit-radial-gradient(top, circle cover, #009688 0%, #00557b 80%);
  background-image: -moz-radial-gradient(top, circle cover, #009688 0%, #00557b 80%);
  background-image: -o-radial-gradient(top, circle cover, #009688 0%, #00557b 80%);
  background-image: radial-gradient(top, circle cover, #009688 0%, #00557b 80%);
  color: #fff;
}

.fale-conosco .container div {
  float: left;
}

.formulario-padrao {
  width: 460px;
  margin-right: 100px;
}

.endereco {
  width: 380px;
  margin-top: 95px;
}

.fale-conosco fieldset legend {
  margin-bottom: 40px;
  font-size: 14px;
}

.fale-conosco fieldset + button {
  margin-top: 20px;
  padding: 7px 40px;
}
